@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background: linear-gradient(90deg, #672280, #a626d3);
  color: #fff;
}

.nav-bar .nav-left img {
  width: 40px;
}

.nav-bar .nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 20px;
}
.nav-bar .nav-right {
  align-self: center;
  font-size: 12px;
  font-weight: 500;
}

.form-container {
  margin: 50px auto;
  width: 90%;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.form input {
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.submit-btn {
  padding: 8px 20px;
  background: linear-gradient(90deg, #672280, #a626d3);
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  grid-column: 1/-1;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.image {
  display: flex;
  justify-content: center;
  position: relative;
}

.meme-text {
  position: absolute;
  width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }

.top {
 top: 0;
}

.bottom {
  bottom: 0;
}